body {
  margin: 0px;
}

canvas {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVGXCBtZ_xHu8a6Q01xe9f_NBjdJeGhe4Cc6qfUGkWk8hmLQXYjSaLPE8icMHF8XtSLvM:https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Flag_of_Germany_%25281867%25E2%2580%25931918%2529.svg/255px-Flag_of_Germany_%25281867%25E2%2580%25931918%2529.svg.png&usqp=CAU");
  background-size: 1150px;
}

img {
  display: none;
}
